.main__content {
  padding: 1em 10em;
  width: 100vw;
  display: flex;

  .main__main-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100vw;
    height: 60vw;

    .main__row {
      display: flex;
      flex-direction: row;
      gap: 1em;
      height: 28vw;

      .main__container {
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.03);
        }

        &.wide-img {
          width: 100%;
          height: auto;
          .main__container-tag {
            @include tag;
          }

          .main__container-heading {
            @include heading-wide;
          }

          .main__container-datetime {
            @include datetime-wide;
          }
          &:after {
            @include after;
          }
        }
        &.wide-img-half {
          width: auto;
          height: 70%;
          .main__container-tag {
            @include tag;
          }

          .main__container-heading {
            @include heading-half;
          }

          .main__container-datetime {
            @include datetime-half;
          }
          &:after {
            @include after;
          }
        }
        &.static-banner {
          width: 25vw;
          height: 28vw;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.8;
        }
      }
    }
    .main__column {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }
}

@media (max-width: 1000px) {
  .main__content {
    padding: 1em 5em;
  }
}

@media (max-width: 768px) {
  .main__content {
    padding: 1em 2em;

    .main__main-content {
      align-items: center;
      height: auto;

      .main__row {
        flex-direction: column;
        height: auto;

        .main__container {
          &.wide-img {
            width: 90vw !important;
            height: 40vw !important;
          }
          &.wide-img-half {
            width: 44vw !important;
            height: 30vw !important;
          }
          &.static-banner {
            display: none;
          }
        }
      }
      .main__column {
        flex-direction: row;
        height: auto;
      }
    }
  }
}
@media (max-width: 480px) {
  .main__content {
    padding: 4em 1em;
    padding-bottom: 1em;
    .main__main-content {
      .main__row {
        .main__container {
          &.wide-img-half {
            width: 42.7vw !important;
          }
        }
      }
    }
  }
}
