@import "variables.scss";
@import "header.scss";
@import "main-content.scss";
@import "footer.scss";

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body{
    width: 100vw;
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: $lightblack;
  }